boto3==1.9.186
cloudpickle==0.6.1
dash==1.0.2
dash-core-components==1.0.0
dash-daq==0.1.0
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.0.2
dnspython==1.16.0
jupyterlab==1.0.1
Keras==2.2.4
mlflow==1.0.0
nested-lookup==0.2.17
numpy==1.14.5
pandas==0.23.4
Pillow==6.1.0
plotly==3.10.0
pymongo==3.8.0
requests==2.20.1
scikit-image==0.15.0
scipy==1.3.0
tensorflow==2.5.1
visdcc==0.0.40